:root {
    --grey: #ccd5ae;
    --light-grey: #e9edc9;
    --light-brown: #d4a373;
    --cream: #faedcd;
    --light-cream: #fefae0;
    --brown: #432818;
}

html, body, .root {
    width: 100%;
    height: 100%;
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--light-cream);
}

.calculator {
    display: flex;
    background-color: var(--light-grey);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 20px;

    border: solid var(--grey) 5px;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    background-color: var(--light-cream);
    flex: 1 1 auto;
    height: 110px;
    box-sizing: border-box;
    border-radius: 10px;
    color: var(--brown);
    font-weight: bold;
    padding: 10px;
}

.display .top {
    font-size: 25px;
}

.display .bottom {
    font-size: 50px;
}

.keys {
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    border-radius: 5px;
    gap: 5px;
    padding: 10px;
}


.row {
    display: flex;
    gap: 5px;
}

.key {
    width: 70px;
    height: 70px;
    border: solid white 3px;
    border-radius: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--brown);
    font-size: 20px;
    font-weight: bold;
}

.key:hover {
    background-color: var(--cream);
}

[data-key="Delete"],
[data-key="Backspace"],
[data-key="Enter"] {
    flex: 1 1 auto;
}
